.product-item {
    display: inline-block;
    width: 30%;
    margin: 30px 5px;
    text-align: center;
}
.product-item .product-item-link {
    font-size: 24px;
    color: #000;
    margin: 10px 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-decoration: none;
}
.product-item .product-item-link:hover {
    color: #2a64bb;
}
.product-item .action-remove{
    text-decoration: none;
    color: #202c5d;
    font-weight: 500;
}
.product-item .action-remove:hover {
    color: #000;
}
.price-box {
    display: block;
    text-align: center;
}
.price-box .price {
    font-size: 22px;
    color: #000;
    font-weight: bold;
}